@use "../util" as *;

.container {
  min-height: 100vh;
  max-width: rem(1440);
  margin: 0 auto;
}

body {
  margin: 0 1rem;
  background-color: var(--bgcolor);
  background-image: url(..\app\media\images\bg-mobile-dark.jpg);

  background-repeat: no-repeat;
  background-size: contain;
  @include for-tablet-portrait-up {
    margin: 0;
    background-color: var(--bgcolor);
    background-image: url(..\app\media\images\bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
