@use "../util" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  list-style: none;
}
