@use "../util" as *;

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 4rem;
    padding-left: 3.5rem;
    border-bottom: 1px solid var(--footertext);
    &:hover {
      cursor: pointer;
      .task-list-remove {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  &-text {
    margin-left: 1rem;
    color: var(--itemtext);
  }
  .completed {
    text-decoration: line-through;
    color: var(--footertext);
  }

  &-check,
  &-check-input {
    position: absolute;
    top: 45%;
    left: 20px;

    transform: translateY(-50%);
    background-color: var(--cardbg);

    width: 1.5em;
    height: 1.5em;

    border-radius: 50%;
    border: 1px solid var(--footertext);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
      background-image: url(../app/media/images/icon-check.svg),
        linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }
    &:hover {
      border: 1px solid var(--brightblue);
    }
  }
  &-remove {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1.5rem;
    border: none;
    background-image: url(../app/media/images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-color: transparent;
    @include for-tablet-portrait-up {
      display: none;
    }
  }
}
.new-task {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 540px;
  position: relative;
  height: 4rem;
  &-input {
    width: 100%;
    padding-left: 4rem;

    background-color: var(--cardbg);
    color: var(--texthover);

    border-radius: 5px;
    border: none;
  }
}
